# code part 1

In [1]:
import pandas as pd 
#df9502 = pd.read_excel('all.xlsx')
#df9502

In [ ]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', None)
df9502

In [2]:
df9501 = pd.read_excel('Iran_maskan_koll9501.xlsx')
df9501.drop(['Unnamed: 0','Unnamed: 1', 'Unnamed: 2'], axis=1, inplace=True)
df9501.rename(columns={'Unnamed: 17': 'codeposti'}, inplace=True)
df9501.rename(columns={'Unnamed: 3': 'codegharadas'}, inplace=True)
df9501.rename(columns={'Unnamed: 4': 'noe_ghardad'}, inplace=True)
df9501.rename(columns={'Unnamed: 5': 'ostan'}, inplace=True)
df9501.rename(columns={'Unnamed: 6': 'sharestam'}, inplace=True)
df9501.rename(columns={'Unnamed: 7': 'noe_melk'}, inplace=True)
df9501.rename(columns={'Unnamed: 8': 'managhe_shahrdari'},inplace=True)
df9501.rename(columns={'Unnamed: 9': 'Noe_karbari'}, inplace=True)
df9501.rename(columns={'Unnamed: 10': 'masahat'}, inplace=True)
df9501.rename(columns={'Unnamed: 11': 'darsad'}, inplace=True)
df9501.rename(columns={'Unnamed: 12': 'gheymat'}, inplace=True)
df9501.rename(columns={'Unnamed: 13': 'gheymat_1_metr_moraba'}, inplace=True)
df9501.rename(columns={'Unnamed: 14': 'age_bana'}, inplace=True)
df9501.rename(columns={'Unnamed: 15': 'noe_eskelet'}, inplace=True)
df9501.rename(columns={'Unnamed: 16': 'tarikh_sabt_gharardad'}, inplace=True)
df9501 = df9501.drop(0)
df9501 = df9501.drop(1)
df9501 = df9501.drop(2)
df9501

,codegharadas,noe_ghardad,ostan,sharestam,noe_melk,managhe_shahrdari,Noe_karbari,masahat,darsad,gheymat,gheymat_1_metr_moraba,age_bana,noe_eskelet,tarikh_sabt_gharardad,codeposti
3,13333003,مبايعه نامه,tehran,پاكدشت,aparteman,NaN,مسکوني,60,100,300000,5000.00,10,felezi,1395/01/01,3391832321
4,13333005,مبايعه نامه,تهران,تهران,aparteman,14,مسکوني,70.63,100,2540000,35962.06,1,botoni,1395/01/01,1767716002
5,13333014,مبايعه نامه,كردستان,سقز,aparteman,NaN,مسکوني,75,100,600000,8000,1,botoni,1395/01/01,6681655486
6,13333018,مبايعه نامه,تهران,تهران,aparteman,2,مسکوني,196.16,100,34000000,173327.9,20,felezi,1395/01/01,1467888744
7,13333026,مبايعه نامه,البرز,کرج,aparteman,NaN,مسکوني,118,100,1310000,11101.69,0,botoni,1395/01/01,3193916638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15022,13405950,مبايعه نامه,تهران,تهران,aparteman,11,مسکوني,58.79,100,1050000,17860.18,23,felezi,1395/01/31,1331719849
15023,13405976,مبايعه نامه,فارس,شيراز,aparteman,NaN,مسکوني,121,100,2100000,17355.37,6,botoni,1395/01/31,7156995778
15024,13405987,مبايعه نامه,تهران,ملارد,aparteman,NaN,مسکوني,77.28,100,785000,10157.87,20,felezi,1395/01/31,3176187868
15025,13405988,مبايعه نامه,مرکزی,اراك,aparteman,4,مسکوني,105,100,1775000,16904.76,1,botoni,1395/01/31,3817646430
15026,13405990,مبايعه نامه,تهران,تهران,aparteman,4,مسکوني,79.28,100,2370000,29894.05,15,botoni,1395/01/31,1689876115

In [3]:
df9502 = pd.read_excel('Iran_maskan_koll9502.xlsx')
df9502.drop(['Unnamed: 0','Unnamed: 1', 'Unnamed: 2'], axis=1, inplace=True)
df9502.rename(columns={'Unnamed: 17': 'codeposti'}, inplace=True)
df9502.rename(columns={'Unnamed: 3': 'codegharadas'}, inplace=True)
df9502.rename(columns={'Unnamed: 4': 'noe_ghardad'}, inplace=True)
df9502.rename(columns={'Unnamed: 5': 'ostan'}, inplace=True)
df9502.rename(columns={'Unnamed: 6': 'sharestam'}, inplace=True)
df9502.rename(columns={'Unnamed: 7': 'noe_melk'}, inplace=True)
df9502.rename(columns={'Unnamed: 8': 'managhe_shahrdari'},inplace=True)
df9502.rename(columns={'Unnamed: 9': 'Noe_karbari'}, inplace=True)
df9502.rename(columns={'Unnamed: 10': 'masahat'}, inplace=True)
df9502.rename(columns={'Unnamed: 11': 'darsad'}, inplace=True)
df9502.rename(columns={'Unnamed: 12': 'gheymat'}, inplace=True)
df9502.rename(columns={'Unnamed: 13': 'gheymat_1_metr_moraba'}, inplace=True)
df9502.rename(columns={'Unnamed: 14': 'age_bana'}, inplace=True)
df9502.rename(columns={'Unnamed: 15': 'noe_eskelet'}, inplace=True)
df9502.rename(columns={'Unnamed: 16': 'tarikh_sabt_gharardad'}, inplace=True)
df9502 = df9502.drop(0)
df9502 = df9502.drop(1)
df9502 = df9502.drop(2)
df9502

,codegharadas,noe_ghardad,ostan,sharestam,noe_melk,managhe_shahrdari,Noe_karbari,masahat,darsad,gheymat,gheymat_1_metr_moraba,age_bana,noe_eskelet,tarikh_sabt_gharardad,codeposti
3,13405324,مبايعه نامه,مرکزی,دليجان,دستگاه آپارتمان,1,مسکوني,80,100,50000,625.00,5,بتونی,1395/02/01,3791896131
4,13405340,مبايعه نامه,گیلان,رشت,دستگاه آپارتمان,1,مسکوني,100,100,2450000,24500.00,1,بتونی,1395/02/01,4155793581
5,13405345,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,6,مسکوني,55,100,340000,6181.82,25,فلزی,1395/02/01,3193674747
6,13405364,مبايعه نامه,تهران,ري,دستگاه آپارتمان,15,مسکوني,46.12,100,860000,18647.01,15,بتونی,1395/02/01,1855698755
7,13405385,مبايعه نامه,اردبیل,اردبيل,دستگاه آپارتمان,3,مسکوني,86.53,100,1500000,17335.03,5,بتونی,1395/02/01,5615878989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32459,13540329,مبايعه نامه,اردبیل,اردبيل,دستگاه آپارتمان,NaN,مسکوني,115.63,100,1500000,12972.41,3,بتونی,1395/02/31,5617641516
32460,13540338,مبايعه نامه,تهران,ري,دستگاه آپارتمان,16,مسکوني,34.39,100,890000,25879.62,15,فلزی,1395/02/31,1819958565
32461,13540342,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,8,مسکوني,107,100,3745000,35000.00,2,بتونی,1395/02/31,1654815696
32462,13540344,مبايعه نامه,قزوین,قزوين,دستگاه آپارتمان,2,مسکوني,74,100,1240000,16756.76,4,بتونی,1395/02/31,3414683751
32463,13540358,مبايعه نامه,آذربایجان شرقی,تبريز,دستگاه آپارتمان,NaN,مسکوني,85,100,152000,1788.24,5,بتونی,1395/02/31,5135775445

In [4]:
df9503 = pd.read_excel('Iran_maskan_koll9503.xlsx')
df9503.drop(['Unnamed: 0','Unnamed: 1', 'Unnamed: 2'], axis=1, inplace=True)
df9503.rename(columns={'Unnamed: 17': 'codeposti'}, inplace=True)
df9503.rename(columns={'Unnamed: 3': 'codegharadas'}, inplace=True)
df9503.rename(columns={'Unnamed: 4': 'noe_ghardad'}, inplace=True)
df9503.rename(columns={'Unnamed: 5': 'ostan'}, inplace=True)
df9503.rename(columns={'Unnamed: 6': 'sharestam'}, inplace=True)
df9503.rename(columns={'Unnamed: 7': 'noe_melk'}, inplace=True)
df9503.rename(columns={'Unnamed: 8': 'managhe_shahrdari'},inplace=True)
df9503.rename(columns={'Unnamed: 9': 'Noe_karbari'}, inplace=True)
df9503.rename(columns={'Unnamed: 10': 'masahat'}, inplace=True)
df9503.rename(columns={'Unnamed: 11': 'darsad'}, inplace=True)
df9503.rename(columns={'Unnamed: 12': 'gheymat'}, inplace=True)
df9503.rename(columns={'Unnamed: 13': 'gheymat_1_metr_moraba'}, inplace=True)
df9503.rename(columns={'Unnamed: 14': 'age_bana'}, inplace=True)
df9503.rename(columns={'Unnamed: 15': 'noe_eskelet'}, inplace=True)
df9503.rename(columns={'Unnamed: 16': 'tarikh_sabt_gharardad'}, inplace=True)
df9503 = df9503.drop(0)
df9503 = df9503.drop(1)
df9503 = df9503.drop(2)
df9503

,codegharadas,noe_ghardad,ostan,sharestam,noe_melk,managhe_shahrdari,Noe_karbari,masahat,darsad,gheymat,gheymat_1_metr_moraba,age_bana,noe_eskelet,tarikh_sabt_gharardad,codeposti
3,13540369,مبايعه نامه,بوشهر,بوشهر,دستگاه آپارتمان,2,مسکوني,136,100,4600000,33823.53,3,بتونی,1395/03/01,7514919433
4,13540373,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,NaN,مسکوني,110,100,2838000,25800,0,بتونی,1395/03/01,3186737402
5,13540375,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,NaN,مسکوني,70.84,100,1110000,15669.11,16,بتونی,1395/03/01,3186657887
6,13540377,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,13,مسکوني,129.36,100,6000000,46382.19,1,فلزی,1395/03/01,1743933833
7,13540387,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,12,مسکوني,59.54,100,1000000,16795.43,1,بتونی و فلزی,1395/03/01,1168873611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32265,13696829,مبايعه نامه,گیلان,رشت,دستگاه آپارتمان,3,مسکوني,41,100,50000,1219.51,11,بتونی,1395/03/31,4174773454
32266,13696837,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,8,مسکوني,54.18,100,1900000,35068.29,6,بتونی و فلزی,1395/03/31,1644883756
32267,13696839,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,NaN,مسکوني,110,100,1375000,12500,1,بتونی,1395/03/31,3139673257
32268,13696849,مبايعه نامه,قم,قم,دستگاه آپارتمان,4,مسکوني,95,100,2100000,22105.26,15,بتونی,1395/03/31,3713189786
32269,13696869,مبايعه نامه,اصفهان,اصفهان,دستگاه آپارتمان,5,مسکوني,118.79,100,3100000,26096.47,10,بتونی,1395/03/31,8179955431

In [5]:
df9504 = pd.read_excel('Iran_maskan_koll9504.xlsx')
df9504.drop(['Unnamed: 0','Unnamed: 1', 'Unnamed: 2'], axis=1, inplace=True)
df9504.rename(columns={'Unnamed: 17': 'codeposti'}, inplace=True)
df9504.rename(columns={'Unnamed: 3': 'codegharadas'}, inplace=True)
df9504.rename(columns={'Unnamed: 4': 'noe_ghardad'}, inplace=True)
df9504.rename(columns={'Unnamed: 5': 'ostan'}, inplace=True)
df9504.rename(columns={'Unnamed: 6': 'sharestam'}, inplace=True)
df9504.rename(columns={'Unnamed: 7': 'noe_melk'}, inplace=True)
df9504.rename(columns={'Unnamed: 8': 'managhe_shahrdari'},inplace=True)
df9504.rename(columns={'Unnamed: 9': 'Noe_karbari'}, inplace=True)
df9504.rename(columns={'Unnamed: 10': 'masahat'}, inplace=True)
df9504.rename(columns={'Unnamed: 11': 'darsad'}, inplace=True)
df9504.rename(columns={'Unnamed: 12': 'gheymat'}, inplace=True)
df9504.rename(columns={'Unnamed: 13': 'gheymat_1_metr_moraba'}, inplace=True)
df9504.rename(columns={'Unnamed: 14': 'age_bana'}, inplace=True)
df9504.rename(columns={'Unnamed: 15': 'noe_eskelet'}, inplace=True)
df9504.rename(columns={'Unnamed: 16': 'tarikh_sabt_gharardad'}, inplace=True)
df9504 = df9504.drop(0)
df9504 = df9504.drop(1)
df9504 = df9504.drop(2)
df9504

,codegharadas,noe_ghardad,ostan,sharestam,noe_melk,managhe_shahrdari,Noe_karbari,masahat,darsad,gheymat,gheymat_1_metr_moraba,age_bana,noe_eskelet,tarikh_sabt_gharardad,codeposti
3,13696878,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,12,مسکوني,76.82,100,2750000,35797.97,5,فلزی,1395/04/01,1714644165
4,13696879,مبايعه نامه,آذربایجان شرقی,تبريز,دستگاه آپارتمان,7,مسکوني,119.22,100,1930000,16188.56,1,بتونی,1395/04/01,5176663632
5,13696887,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,10,مسکوني,38.72,100,1350000,34865.7,1,فلزی,1395/04/01,1343944134
6,13696889,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,12,مسکوني,56,100,1200000,21428.57,2,بتونی,1395/04/01,1636933511
7,13696893,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,10,مسکوني,38.72,100,1300000,33574.38,1,فلزی,1395/04/01,1343944135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30467,13836418,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,21,مسکوني,74.37,100,2360000,31733.23,5,بتونی,1395/04/31,1397937786
30468,13836421,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,4,مسکوني,70.9,100,2200000,31029.62,15,بتونی,1395/04/31,1687795454
30469,13836428,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,3,مسکوني,79.06,100,1170000,14798.89,15,بتونی,1395/04/31,3176333333
30470,13836432,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,17,مسکوني,60.57,100,1700000,28066.7,1,بتونی,1395/04/31,1366863854
30471,13832639,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,1,مسکوني,230.69,100,1610000,6979.06,3,فلزی,1395/04/31,1987987989

In [6]:
df9505 = pd.read_excel('Iran_maskan_koll9505.xlsx')
df9505.drop(['Unnamed: 0','Unnamed: 1', 'Unnamed: 2'], axis=1, inplace=True)
df9505.rename(columns={'Unnamed: 17': 'codeposti'}, inplace=True)
df9505.rename(columns={'Unnamed: 3': 'codegharadas'}, inplace=True)
df9505.rename(columns={'Unnamed: 4': 'noe_ghardad'}, inplace=True)
df9505.rename(columns={'Unnamed: 5': 'ostan'}, inplace=True)
df9505.rename(columns={'Unnamed: 6': 'sharestam'}, inplace=True)
df9505.rename(columns={'Unnamed: 7': 'noe_melk'}, inplace=True)
df9505.rename(columns={'Unnamed: 8': 'managhe_shahrdari'},inplace=True)
df9505.rename(columns={'Unnamed: 9': 'Noe_karbari'}, inplace=True)
df9505.rename(columns={'Unnamed: 10': 'masahat'}, inplace=True)
df9505.rename(columns={'Unnamed: 11': 'darsad'}, inplace=True)
df9505.rename(columns={'Unnamed: 12': 'gheymat'}, inplace=True)
df9505.rename(columns={'Unnamed: 13': 'gheymat_1_metr_moraba'}, inplace=True)
df9505.rename(columns={'Unnamed: 14': 'age_bana'}, inplace=True)
df9505.rename(columns={'Unnamed: 15': 'noe_eskelet'}, inplace=True)
df9505.rename(columns={'Unnamed: 16': 'tarikh_sabt_gharardad'}, inplace=True)
df9505 = df9505.drop(0)
df9505 = df9505.drop(1)
df9505 = df9505.drop(2)
df9505

,codegharadas,noe_ghardad,ostan,sharestam,noe_melk,managhe_shahrdari,Noe_karbari,masahat,darsad,gheymat,gheymat_1_metr_moraba,age_bana,noe_eskelet,tarikh_sabt_gharardad,codeposti
3,13836440,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,5,مسکوني,79.82,100,3500000,43848.66,14,بتونی و فلزی,1395/05/01,1481735356
4,13836451,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,9,مسکوني,96,100,830000,8645.83,5,فلزی,1395/05/01,3173883392
5,13836452,مبايعه نامه,آذربایجان غربی,مياندوآب,دستگاه آپارتمان,NaN,مسکوني,688,100,10000000,14534.88,1,بتونی و فلزی,1395/05/01,5971635517
6,13836453,مبايعه نامه,گیلان,رشت,دستگاه آپارتمان,3,مسکوني,62.04,100,1150000,18536.43,6,بتونی,1395/05/01,4189536898
7,13836462,مبايعه نامه,كردستان,سنندج,دستگاه آپارتمان,2,مسکوني,75.71,100,1400000,18491.61,11,فلزی,1395/05/01,6613635464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34223,13985559,مبايعه نامه,اردبیل,خلخال,دستگاه آپارتمان,NaN,مسکوني,62.42,100,800000,12816.4,10,فلزی,1395/05/31,5681865356
34224,13985575,مبايعه نامه,گیلان,رشت,دستگاه آپارتمان,NaN,مسکوني,76.28,100,1180000,15469.32,12,بتونی و فلزی,1395/05/31,4143837856
34225,13985586,مبايعه نامه,فارس,شيراز,دستگاه آپارتمان,NaN,مسکوني,115,100,2000000,17391.3,0,فلزی,1395/05/31,7199968568
34226,13985591,مبايعه نامه,مازندران,بابل,دستگاه آپارتمان,2,مسکوني,97,100,2250000,23195.88,23,بتونی,1395/05/31,4714779637
34227,13985599,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,NaN,مسکوني,90,100,2400000,26666.67,6,بتونی,1395/05/31,3134794890

In [7]:
df9506 = pd.read_excel('Iran_maskan_koll9506.xlsx')
df9506.drop(['Unnamed: 0','Unnamed: 1', 'Unnamed: 2'], axis=1, inplace=True)
df9506.rename(columns={'Unnamed: 17': 'codeposti'}, inplace=True)
df9506.rename(columns={'Unnamed: 3': 'codegharadas'}, inplace=True)
df9506.rename(columns={'Unnamed: 4': 'noe_ghardad'}, inplace=True)
df9506.rename(columns={'Unnamed: 5': 'ostan'}, inplace=True)
df9506.rename(columns={'Unnamed: 6': 'sharestam'}, inplace=True)
df9506.rename(columns={'Unnamed: 7': 'noe_melk'}, inplace=True)
df9506.rename(columns={'Unnamed: 8': 'managhe_shahrdari'},inplace=True)
df9506.rename(columns={'Unnamed: 9': 'Noe_karbari'}, inplace=True)
df9506.rename(columns={'Unnamed: 10': 'masahat'}, inplace=True)
df9506.rename(columns={'Unnamed: 11': 'darsad'}, inplace=True)
df9506.rename(columns={'Unnamed: 12': 'gheymat'}, inplace=True)
df9506.rename(columns={'Unnamed: 13': 'gheymat_1_metr_moraba'}, inplace=True)
df9506.rename(columns={'Unnamed: 14': 'age_bana'}, inplace=True)
df9506.rename(columns={'Unnamed: 15': 'noe_eskelet'}, inplace=True)
df9506.rename(columns={'Unnamed: 16': 'tarikh_sabt_gharardad'}, inplace=True)
df9506 = df9506.drop(0)
df9506 = df9506.drop(1)
df9506 = df9506.drop(2)
df9506

,codegharadas,noe_ghardad,ostan,sharestam,noe_melk,managhe_shahrdari,Noe_karbari,masahat,darsad,gheymat,gheymat_1_metr_moraba,age_bana,noe_eskelet,tarikh_sabt_gharardad,codeposti
3,13985615,مبايعه نامه,تهران,اسلامشهر,دستگاه آپارتمان,NaN,مسکوني,78,100,655000,8397.44,4,فلزی,1395/06/01,3318846547
4,13985616,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,5,مسکوني,90,100,4635000,51500,0,بتونی,1395/06/01,1475889572
5,13985618,مبايعه نامه,البرز,نظر آباد,دستگاه آپارتمان,NaN,مسکوني,96.56,100,1125000,11650.79,9,بتونی,1395/06/01,3333195102
6,13985627,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,1,مسکوني,117.42,100,6700000,57060.13,1,بتونی,1395/06/01,1956937884
7,13985629,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,8,مسکوني,60,100,300000,5000,1,فلزی,1395/06/01,3149776793
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29240,14115036,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,18,مسکوني,62.7,100,950000,15151.52,13,بتونی,1395/06/31,1373778191
29241,14115047,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,NaN,مسکوني,105,100,2880000,27428.57,3,بتونی,1395/06/31,3155976664
29242,14115054,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,NaN,مسکوني,115,100,1570000,13652.17,0,بتونی,1395/06/31,3173788100
29243,14115056,مبايعه نامه,قزوین,قزوين,دستگاه آپارتمان,1,مسکوني,86.65,100,1768000,20403.92,7,فلزی,1395/06/31,3416647440
29244,14115065,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,1,مسکوني,400,100,84000000,210000,2,بتونی و فلزی,1395/06/31,1988734764

In [8]:
df9507 = pd.read_excel('Iran_maskan_koll9507.xlsx')
df9507.drop(['Unnamed: 0','Unnamed: 1', 'Unnamed: 2'], axis=1, inplace=True)
df9507.rename(columns={'Unnamed: 17': 'codeposti'}, inplace=True)
df9507.rename(columns={'Unnamed: 3': 'codegharadas'}, inplace=True)
df9507.rename(columns={'Unnamed: 4': 'noe_ghardad'}, inplace=True)
df9507.rename(columns={'Unnamed: 5': 'ostan'}, inplace=True)
df9507.rename(columns={'Unnamed: 6': 'sharestam'}, inplace=True)
df9507.rename(columns={'Unnamed: 7': 'noe_melk'}, inplace=True)
df9507.rename(columns={'Unnamed: 8': 'managhe_shahrdari'},inplace=True)
df9507.rename(columns={'Unnamed: 9': 'Noe_karbari'}, inplace=True)
df9507.rename(columns={'Unnamed: 10': 'masahat'}, inplace=True)
df9507.rename(columns={'Unnamed: 11': 'darsad'}, inplace=True)
df9507.rename(columns={'Unnamed: 12': 'gheymat'}, inplace=True)
df9507.rename(columns={'Unnamed: 13': 'gheymat_1_metr_moraba'}, inplace=True)
df9507.rename(columns={'Unnamed: 14': 'age_bana'}, inplace=True)
df9507.rename(columns={'Unnamed: 15': 'noe_eskelet'}, inplace=True)
df9507.rename(columns={'Unnamed: 16': 'tarikh_sabt_gharardad'}, inplace=True)
df9507 = df9507.drop(0)
df9507 = df9507.drop(1)
df9507 = df9507.drop(2)
df9507

,codegharadas,noe_ghardad,ostan,sharestam,noe_melk,managhe_shahrdari,Noe_karbari,masahat,darsad,gheymat,gheymat_1_metr_moraba,age_bana,noe_eskelet,tarikh_sabt_gharardad,codeposti
3,14115085,مبايعه نامه,سمنان,سمنان,دستگاه آپارتمان,2,مسکوني,179.72,100,4200000,23369.69,4,فلزی,1395/07/01,شهرک انقلاب میدان شهیدحسن آیت خیابان مالک اشتر...
4,14115089,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,7,مسکوني,43.81,100,1290000,29445.33,4,فلزی,1395/07/01,کوچه بازرگان کوچه کیوان بن بست اول شرقی پ1 طبقه 2
5,14115091,مبايعه نامه,فارس,شيراز,دستگاه آپارتمان,NaN,مسکوني,96.7,100,1750000,18097.21,11,بتونی,1395/07/01,گلستان بل علامه امینی ک لاله طبقه 2 واح...
6,14115105,مبايعه نامه,كرمان,كرمان,دستگاه آپارتمان,2,مسکوني,88.15,100,1630000,18491.21,9,بتونی,1395/07/01,کوی فرهنگیان بلوار معلم کوچه 14 پلاک 22 طبقه ه...
7,14115108,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,7,مسکوني,44.94,100,1330000,29595.02,5,فلزی,1395/07/01,نظام آباد ک شهید محمدحسن ثقفی بن پنجم جنوبی ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21752,14219943,مبايعه نامه,خوزستان,اهواز,دستگاه آپارتمان,3,مسکوني,77.82,100,1415000,18182.99,13,فلزی,1395/07/30,زیتون کارمندی خیابان زاهد خیابان شهید عباسی (ف...
21753,14219949,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,9,مسکوني,45.47,100,1600000,35188.04,2,بتونی,1395/07/30,مرتضوی خ قصرالدشت ک رمضانی پلاک 6 طبقه 3 ...
21754,14219950,مبايعه نامه,آذربایجان شرقی,تبريز,دستگاه آپارتمان,1,مسکوني,146,100,2700000,18493.15,3,بتونی,1395/07/30,عباسی خیابان عباسی چهارراه عباسی پلاک 0 طبقه ...
21755,14219975,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,1,مسکوني,165,100,9140000,55393.94,0,بتونی,1395/07/30,کرج عظیمیه بلوار استقلال شمالی نبش خیابان مهرگ...
21756,14219985,مبايعه نامه,آذربایجان شرقی,تبريز,دستگاه آپارتمان,5,مسکوني,220,16.67,6600000,5000,0,بتونی,1395/07/30,کوی سپهر خیابان 20 متری 2 خیابان 20متری سوم ...

In [9]:
df9508 = pd.read_excel('Iran_maskan_koll9508.xlsx')
df9508.drop(['Unnamed: 0','Unnamed: 1', 'Unnamed: 2'], axis=1, inplace=True)
df9508.rename(columns={'Unnamed: 17': 'codeposti'}, inplace=True)
df9508.rename(columns={'Unnamed: 3': 'codegharadas'}, inplace=True)
df9508.rename(columns={'Unnamed: 4': 'noe_ghardad'}, inplace=True)
df9508.rename(columns={'Unnamed: 5': 'ostan'}, inplace=True)
df9508.rename(columns={'Unnamed: 6': 'sharestam'}, inplace=True)
df9508.rename(columns={'Unnamed: 7': 'noe_melk'}, inplace=True)
df9508.rename(columns={'Unnamed: 8': 'managhe_shahrdari'},inplace=True)
df9508.rename(columns={'Unnamed: 9': 'Noe_karbari'}, inplace=True)
df9508.rename(columns={'Unnamed: 10': 'masahat'}, inplace=True)
df9508.rename(columns={'Unnamed: 11': 'darsad'}, inplace=True)
df9508.rename(columns={'Unnamed: 12': 'gheymat'}, inplace=True)
df9508.rename(columns={'Unnamed: 13': 'gheymat_1_metr_moraba'}, inplace=True)
df9508.rename(columns={'Unnamed: 14': 'age_bana'}, inplace=True)
df9508.rename(columns={'Unnamed: 15': 'noe_eskelet'}, inplace=True)
df9508.rename(columns={'Unnamed: 16': 'tarikh_sabt_gharardad'}, inplace=True)
df9508 = df9508.drop(0)
df9508 = df9508.drop(1)
df9508 = df9508.drop(2)
df9508

,codegharadas,noe_ghardad,ostan,sharestam,noe_melk,managhe_shahrdari,Noe_karbari,masahat,darsad,gheymat,gheymat_1_metr_moraba,age_bana,noe_eskelet,tarikh_sabt_gharardad,codeposti
3,14220002,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,NaN,مسکوني,62,100,760000,12258.06,5,بتونی,1395/08/01,3197915675
4,14220004,مبايعه نامه,مرکزی,كميجان,دستگاه آپارتمان,NaN,مسکوني,80,100,150000,1875,15,فلزی,1395/08/01,3851943957
5,14220006,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,3,مسکوني,102.08,100,16000000,156739.81,1,فلزی,1395/08/01,1967915973
6,14220009,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,14,مسکوني,70,100,2010000,28714.29,2,فلزی,1395/08/01,1767696798
7,14220015,مبايعه نامه,فارس,شيراز,دستگاه آپارتمان,NaN,مسکوني,103.11,100,2350000,22791.19,3,فلزی,1395/08/01,7178864878
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25066,14334307,مبايعه نامه,آذربایجان شرقی,تبريز,دستگاه آپارتمان,NaN,مسکوني,71.46,100,1600000,22390.15,4,بتونی,1395/08/30,5158979479
25067,14334308,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,13,مسکوني,51.82,100,1440000,27788.5,13,فلزی,1395/08/30,1731684586
25068,14334311,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,5,مسکوني,97,100,750000,7731.96,0,فلزی,1395/08/30,3138715855
25069,14334322,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,21,مسکوني,56.92,100,1880000,33028.81,4,بتونی,1395/08/30,1388837585
25070,14334326,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,12,مسکوني,50,100,750000,15000,0,بتونی,1395/08/30,1169786911

In [10]:
df9509 = pd.read_excel('Iran_maskan_koll9509.xlsx')
df9509.drop(['Unnamed: 0','Unnamed: 1', 'Unnamed: 2'], axis=1, inplace=True)
df9509.rename(columns={'Unnamed: 17': 'codeposti'}, inplace=True)
df9509.rename(columns={'Unnamed: 3': 'codegharadas'}, inplace=True)
df9509.rename(columns={'Unnamed: 4': 'noe_ghardad'}, inplace=True)
df9509.rename(columns={'Unnamed: 5': 'ostan'}, inplace=True)
df9509.rename(columns={'Unnamed: 6': 'sharestam'}, inplace=True)
df9509.rename(columns={'Unnamed: 7': 'noe_melk'}, inplace=True)
df9509.rename(columns={'Unnamed: 8': 'managhe_shahrdari'},inplace=True)
df9509.rename(columns={'Unnamed: 9': 'Noe_karbari'}, inplace=True)
df9509.rename(columns={'Unnamed: 10': 'masahat'}, inplace=True)
df9509.rename(columns={'Unnamed: 11': 'darsad'}, inplace=True)
df9509.rename(columns={'Unnamed: 12': 'gheymat'}, inplace=True)
df9509.rename(columns={'Unnamed: 13': 'gheymat_1_metr_moraba'}, inplace=True)
df9509.rename(columns={'Unnamed: 14': 'age_bana'}, inplace=True)
df9509.rename(columns={'Unnamed: 15': 'noe_eskelet'}, inplace=True)
df9509.rename(columns={'Unnamed: 16': 'tarikh_sabt_gharardad'}, inplace=True)
df9509 = df9509.drop(0)
df9509 = df9509.drop(1)
df9509 = df9509.drop(2)
df9509

,codegharadas,noe_ghardad,ostan,sharestam,noe_melk,managhe_shahrdari,Noe_karbari,masahat,darsad,gheymat,gheymat_1_metr_moraba,age_bana,noe_eskelet,tarikh_sabt_gharardad,codeposti
3,14334342,مبايعه نامه,تهران,اسلامشهر,دستگاه آپارتمان,NaN,مسکوني,55,100,465000,8454.55,15,بتونی,1395/09/01,3317876166
4,14334343,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,7,مسکوني,70.62,100,2150000,30444.63,4,بتونی,1395/09/01,1614716567
5,14334347,مبايعه نامه,كرمانشاه,كرمانشاه,دستگاه آپارتمان,NaN,مسکوني,120,100,1240000,10333.33,2,بتونی,1395/09/01,6714834803
6,14334348,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,13,مسکوني,100.34,100,4715000,46990.23,0,بتونی و فلزی,1395/09/01,1748663362
7,14334360,مبايعه نامه,مازندران,بابل,دستگاه آپارتمان,NaN,مسکوني,180,100,2720000,15111.11,25,بتونی,1395/09/01,4713915314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23256,14435011,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,15,مسکوني,70.68,100,2335000,33036.22,2,بتونی,1395/09/30,1777863847
23257,14435015,مبايعه نامه,سمنان,گرمسار,دستگاه آپارتمان,NaN,مسکوني,64.06,100,480000,7492.98,5,بتونی,1395/09/30,3581757633
23258,14435029,مبايعه نامه,كردستان,سنندج,دستگاه آپارتمان,NaN,مسکوني,79.06,100,620000,7842.15,5,فلزی,1395/09/30,6617415938
23259,14435042,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,NaN,مسکوني,101,100,1400000,13861.39,0,بتونی,1395/09/30,3186833829
23260,14435062,مبايعه نامه,مرکزی,اراك,دستگاه آپارتمان,2,مسکوني,74.34,100,1050000,14124.29,6,فلزی,1395/09/30,3818881954

In [11]:
df95010 = pd.read_excel('Iran_maskan_koll9510.xlsx')
df95010.drop(['Unnamed: 0','Unnamed: 1', 'Unnamed: 2'], axis=1, inplace=True)
df95010.rename(columns={'Unnamed: 17': 'codeposti'}, inplace=True)
df95010.rename(columns={'Unnamed: 3': 'codegharadas'}, inplace=True)
df95010.rename(columns={'Unnamed: 4': 'noe_ghardad'}, inplace=True)
df95010.rename(columns={'Unnamed: 5': 'ostan'}, inplace=True)
df95010.rename(columns={'Unnamed: 6': 'sharestam'}, inplace=True)
df95010.rename(columns={'Unnamed: 7': 'noe_melk'}, inplace=True)
df95010.rename(columns={'Unnamed: 8': 'managhe_shahrdari'},inplace=True)
df95010.rename(columns={'Unnamed: 9': 'Noe_karbari'}, inplace=True)
df95010.rename(columns={'Unnamed: 10': 'masahat'}, inplace=True)
df95010.rename(columns={'Unnamed: 11': 'darsad'}, inplace=True)
df95010.rename(columns={'Unnamed: 12': 'gheymat'}, inplace=True)
df95010.rename(columns={'Unnamed: 13': 'gheymat_1_metr_moraba'}, inplace=True)
df95010.rename(columns={'Unnamed: 14': 'age_bana'}, inplace=True)
df95010.rename(columns={'Unnamed: 15': 'noe_eskelet'}, inplace=True)
df95010.rename(columns={'Unnamed: 16': 'tarikh_sabt_gharardad'}, inplace=True)
df95010 = df95010.drop(0)
df95010 = df95010.drop(1)
df95010 = df95010.drop(2)
df95010

,codegharadas,noe_ghardad,ostan,sharestam,noe_melk,managhe_shahrdari,Noe_karbari,masahat,darsad,gheymat,gheymat_1_metr_moraba,age_bana,noe_eskelet,tarikh_sabt_gharardad,codeposti
3,14436482,مبايعه نامه,آذربایجان غربی,اروميه,دستگاه آپارتمان,NaN,مسکوني,200,100,3860000,19300.00,0,بتونی,1395/10/01,5771745451
4,14436490,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,14,مسکوني,45.41,100,1380000,30389.78,6,بتونی,1395/10/01,1766915598
5,14436492,مبايعه نامه,هرمزگان,بندر عباس,دستگاه آپارتمان,3,مسکوني,100,100,175000,1750,15,بتونی,1395/10/01,7915665447
6,14436496,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,18,مسکوني,72.96,100,1760000,24122.81,5,بتونی,1395/10/01,1373957462
7,14436500,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,NaN,مسکوني,46,100,540000,11739.13,25,فلزی,1395/10/01,3159733532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32073,14559231,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,4,مسکوني,186.5,100,20000000,107238.61,23,بدون اسکلت,1395/10/30,1664994114
32074,14559237,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,15,مسکوني,42.93,100,868000,20218.96,4,فلزی,1395/10/30,1181748165
32075,14559240,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,15,مسکوني,73.03,100,1850000,25332.06,3,فلزی,1395/10/30,1785933952
32076,14559242,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,NaN,مسکوني,125,100,1785000,14280,1,بتونی,1395/10/30,3197915527
32077,14559243,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,4,مسکوني,90.55,100,6300000,69574.82,23,بدون اسکلت,1395/10/30,1664994111

In [12]:
df95011 = pd.read_excel('Iran_maskan_koll9511.xlsx')
df95011.drop(['Unnamed: 0','Unnamed: 1', 'Unnamed: 2'], axis=1, inplace=True)
df95011.rename(columns={'Unnamed: 17': 'codeposti'}, inplace=True)
df95011.rename(columns={'Unnamed: 3': 'codegharadas'}, inplace=True)
df95011.rename(columns={'Unnamed: 4': 'noe_ghardad'}, inplace=True)
df95011.rename(columns={'Unnamed: 5': 'ostan'}, inplace=True)
df95011.rename(columns={'Unnamed: 6': 'sharestam'}, inplace=True)
df95011.rename(columns={'Unnamed: 7': 'noe_melk'}, inplace=True)
df95011.rename(columns={'Unnamed: 8': 'managhe_shahrdari'},inplace=True)
df95011.rename(columns={'Unnamed: 9': 'Noe_karbari'}, inplace=True)
df95011.rename(columns={'Unnamed: 10': 'masahat'}, inplace=True)
df95011.rename(columns={'Unnamed: 11': 'darsad'}, inplace=True)
df95011.rename(columns={'Unnamed: 12': 'gheymat'}, inplace=True)
df95011.rename(columns={'Unnamed: 13': 'gheymat_1_metr_moraba'}, inplace=True)
df95011.rename(columns={'Unnamed: 14': 'age_bana'}, inplace=True)
df95011.rename(columns={'Unnamed: 15': 'noe_eskelet'}, inplace=True)
df95011.rename(columns={'Unnamed: 16': 'tarikh_sabt_gharardad'}, inplace=True)
df95011 = df95011.drop(0)
df95011 = df95011.drop(1)
df95011 = df95011.drop(2)
df95011

,codegharadas,noe_ghardad,ostan,sharestam,noe_melk,managhe_shahrdari,Noe_karbari,masahat,darsad,gheymat,gheymat_1_metr_moraba,age_bana,noe_eskelet,tarikh_sabt_gharardad,codeposti
3,14559247,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,12,مسکوني,90,72.3,1699450,13652.25,1,بتونی,1395/11/01,1178915182
4,14559249,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,2,مسکوني,105,100,5750000,54761.9,2,بتونی و فلزی,1395/11/01,1455994776
5,14559251,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,NaN,مسکوني,90,100,900000,10000,0,بتونی,1395/11/01,3193637890
6,14559254,مبايعه نامه,خراسان رضوی,مشهد,دستگاه آپارتمان,9,مسکوني,80.2,100,1500000,18703.24,8,فلزی,1395/11/01,9181125892
7,14559261,مبايعه نامه,فارس,شيراز,دستگاه آپارتمان,5,مسکوني,104.58,100,1760000,16829.22,0,بتونی,1395/11/01,7167636728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30774,14679509,مبايعه نامه,مازندران,قائم شهر,دستگاه آپارتمان,NaN,مسکوني,125,100,1560000,12480,3,بتونی,1395/11/30,4761846665
30775,14679511,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,NaN,مسکوني,81.7,100,1600000,19583.84,5,بتونی,1395/11/30,3194873492
30776,14679518,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,4,مسکوني,104.37,100,3450000,33055.48,19,بتونی و فلزی,1395/11/30,1686945586
30777,14679522,مبايعه نامه,قم,قم,دستگاه آپارتمان,1,مسکوني,111.63,100,2460000,22037.09,2,بتونی,1395/11/30,3714767144
30778,14677291,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,8,مسکوني,47.14,100,2260000,47942.3,3,بتونی,1395/11/30,1634855618

In [13]:
df95012 = pd.read_excel('Iran_maskan_koll9512.xlsx')
df95012.drop(['Unnamed: 0','Unnamed: 1', 'Unnamed: 2'], axis=1, inplace=True)
df95012.rename(columns={'Unnamed: 17': 'codeposti'}, inplace=True)
df95012.rename(columns={'Unnamed: 3': 'codegharadas'}, inplace=True)
df95012.rename(columns={'Unnamed: 4': 'noe_ghardad'}, inplace=True)
df95012.rename(columns={'Unnamed: 5': 'ostan'}, inplace=True)
df95012.rename(columns={'Unnamed: 6': 'sharestam'}, inplace=True)
df95012.rename(columns={'Unnamed: 7': 'noe_melk'}, inplace=True)
df95012.rename(columns={'Unnamed: 8': 'managhe_shahrdari'},inplace=True)
df95012.rename(columns={'Unnamed: 9': 'Noe_karbari'}, inplace=True)
df95012.rename(columns={'Unnamed: 10': 'masahat'}, inplace=True)
df95012.rename(columns={'Unnamed: 11': 'darsad'}, inplace=True)
df95012.rename(columns={'Unnamed: 12': 'gheymat'}, inplace=True)
df95012.rename(columns={'Unnamed: 13': 'gheymat_1_metr_moraba'}, inplace=True)
df95012.rename(columns={'Unnamed: 14': 'age_bana'}, inplace=True)
df95012.rename(columns={'Unnamed: 15': 'noe_eskelet'}, inplace=True)
df95012.rename(columns={'Unnamed: 16': 'tarikh_sabt_gharardad'}, inplace=True)
df95012 = df95012.drop(0)
df95012 = df95012.drop(1)
df95012 = df95012.drop(2)
df95012

,codegharadas,noe_ghardad,ostan,sharestam,noe_melk,managhe_shahrdari,Noe_karbari,masahat,darsad,gheymat,gheymat_1_metr_moraba,age_bana,noe_eskelet,tarikh_sabt_gharardad,codeposti,Unnamed: 18
3,14679535,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,5,مسکوني,139.98,100,8000000,57151.02,1,بتونی,1395/12/01,1475873763,NaN
4,14679540,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,21,مسکوني,150,100,3600000,24000,1,بتونی,1395/12/01,1399187688,NaN
5,14679544,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,6,مسکوني,67,100,850000,12686.57,2,بتونی,1395/12/01,3197919291,NaN
6,14679547,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,2,مسکوني,85,100,4900000,57647.06,2,بتونی,1395/12/01,1455874689,NaN
7,14679554,مبايعه نامه,مازندران,زيرآب,دستگاه آپارتمان,NaN,مسکوني,206,100,1600000,7766.99,6,بتونی,1395/12/01,4781976798,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25239,14784816,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,4,مسکوني,65,100,2080000,32000,3,بتونی,1395/12/30,1659636556,NaN
25240,14784820,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,3,مسکوني,120,100,2330000,19416.67,1,بتونی,1395/12/30,3175864957,NaN
25241,14784826,مبايعه نامه,اصفهان,شاهين شهر,دستگاه آپارتمان,1,مسکوني,91.94,100,2200000,23928.65,1,بتونی,1395/12/30,8314686438,NaN
25242,14784832,مبايعه نامه,كردستان,سقز,دستگاه آپارتمان,NaN,مسکوني,110,100,700000,6363.64,8,فلزی,1395/12/30,6681836784,NaN
25243,14784841,مبايعه نامه,تهران,چهاردانگه,دستگاه آپارتمان,NaN,مسکوني,35,100,350000,10000,13,فلزی,1395/12/30,3319879467,NaN

In [14]:
result = pd.concat([df9501, df9502,df9503,df9504,df9505,df9506,df9507,df9508,df9509,df95010,df95011,df95012], axis=0)
result

,codegharadas,noe_ghardad,ostan,sharestam,noe_melk,managhe_shahrdari,Noe_karbari,masahat,darsad,gheymat,gheymat_1_metr_moraba,age_bana,noe_eskelet,tarikh_sabt_gharardad,codeposti,Unnamed: 18
3,13333003,مبايعه نامه,tehran,پاكدشت,aparteman,NaN,مسکوني,60,100,300000,5000.00,10,felezi,1395/01/01,3391832321,NaN
4,13333005,مبايعه نامه,تهران,تهران,aparteman,14,مسکوني,70.63,100,2540000,35962.06,1,botoni,1395/01/01,1767716002,NaN
5,13333014,مبايعه نامه,كردستان,سقز,aparteman,NaN,مسکوني,75,100,600000,8000,1,botoni,1395/01/01,6681655486,NaN
6,13333018,مبايعه نامه,تهران,تهران,aparteman,2,مسکوني,196.16,100,34000000,173327.9,20,felezi,1395/01/01,1467888744,NaN
7,13333026,مبايعه نامه,البرز,کرج,aparteman,NaN,مسکوني,118,100,1310000,11101.69,0,botoni,1395/01/01,3193916638,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25239,14784816,مبايعه نامه,تهران,تهران,دستگاه آپارتمان,4,مسکوني,65,100,2080000,32000,3,بتونی,1395/12/30,1659636556,NaN
25240,14784820,مبايعه نامه,البرز,کرج,دستگاه آپارتمان,3,مسکوني,120,100,2330000,19416.67,1,بتونی,1395/12/30,3175864957,NaN
25241,14784826,مبايعه نامه,اصفهان,شاهين شهر,دستگاه آپارتمان,1,مسکوني,91.94,100,2200000,23928.65,1,بتونی,1395/12/30,8314686438,NaN
25242,14784832,مبايعه نامه,كردستان,سقز,دستگاه آپارتمان,NaN,مسکوني,110,100,700000,6363.64,8,فلزی,1395/12/30,6681836784,NaN
25243,14784841,مبايعه نامه,تهران,چهاردانگه,دستگاه آپارتمان,NaN,مسکوني,35,100,350000,10000,13,فلزی,1395/12/30,3319879467,NaN

# خروجی اکسل

In [17]:
result.to_excel('final.xlsx', engine='openpyxl')